
.about-us-body{
    height: 100%;
    background-color: var(--primary-color);
}

.wrapper-halfbody{
    background-image: url('../../assets/about-us/about-us-background.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 0 8% 10% 8%;

}

.location-heading{
    margin-bottom: 3%;
    color: black;
    margin-left: 1%;
    display: flex;
    gap: 2%;
    align-items: center;
    text-transform: uppercase;
}

.location-heading i {
    font-size: 30px;
}


.page-heading{
    position: relative;
    padding: 20px 40px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 60px;
    margin-bottom: 5%;
    text-transform: uppercase;
}

.wrapper h1::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    height: 1.5px;
    width: 120px;
    background-color:#aaa7a7;
}


.container p{
    padding: 30px 40px;
    font-family: var(--plus-jakarta-sans);
    font-weight: 600;
    line-height: 1.5rem;
}

.container{
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
}


.about-us-details{
    background-color: white;
    width: 100%;
    padding: 40px 60px;
}

.divider {
    padding: 2%;
}

.row {
    display: flex;
    align-items: flex-start;
}

.label {
    width: 100px;
    font-weight: bold;
}

.value{
    flex: 1;
    font-size: 18px;
    margin-top: 10%;
    line-height: 130%;
}

#au{
   color: black;
}

.company-info{
    position: relative;
}

.company-info p{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.company-info p::after{
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.5px;
    width: 80px;
    background-color: var(--secondary-color);
}

.company-info h1 {
    margin-bottom: 2%;
}

.wrapper-company {
    display: flex;
    justify-content: space-between;
    border: 0.5px solid black;
    padding: 2%;
    border-radius: 20px;
    border-color:#aaa7a7 ;
}

.maps {
    border: 1px solid black;
    border-radius: 10px;
    max-width: fit-content;
}

.maps iframe {
    border-radius: 10px;
}

@media screen and (max-width:768px){

    .wrapper-halfbody{
        background-size: cover;
    }

    .about-us-details{
        padding: 20px 30px;
    }

   .container p{
    padding: 15px 20px;
   }

    .wrapper-company{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 5% 10%;
    }

    .location-heading {
        font-size: 12px;
        padding-bottom: 3%;
    }

    .value{
        margin-top: 5%;
        font-size: 15px;
    }

    .maps iframe{
        max-width: 280px;
        max-height: 200px;
    }

    .maps {
        max-width: fit-content;
    }
}