
 .flipbook {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.flipbook img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.flipbook *,
.flipbook *::before,
.flipbook *::after {
  transition: none !important;
}

/* Optional: make covers appear on top */
.flipbook .cover {
  transform-origin: center;
  z-index: 10;
}

.brochure-button {
    padding: 10px;
    margin: 0px 40% 3% 40%;
    border-radius: 20px;
    border-color: none;
    font-family: var(--plus-jakarta-sans);
    font-weight: bold;
}

.brochure-button:hover {
    cursor: pointer;
    background-color: #DED9D9;
}
